# Secrets
.env
!.env.dist

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Uploads
uploads/

# Admin build output
admin_dist/

# Alembic generated versions
# alembic/versions/*.py
!alembic/versions/.gitkeep

# OS
.DS_Store
Thumbs.db
